<%= render 'shared/logged-navbar' %>

<div class="d-flex justify-content-between reco-show">
  <div>
    <img src="<%= @movie.poster %>" class="poster">
  </div>
  <div class="flex-grow reco-content" >
    <div class="d-flex justify-content-end my-5">
      <%= render 'shared/btn-modal', fontawesome: "fas fa-plus", title: "Ajouter au cercle" %>
    </div>

    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
    <h2>Par <%= @movie.director %></h2>
    <p>Avec <%= @movie.actors %></p>
    <h3> Synopsis</h3>
    <p><%= @movie.plot %></p>
  </div>
</div>



<div class="hidden overlay" id="modal-form">
  <div class="modale">
    <%= simple_form_for [@circle, @movie, @recommendation] do |f| %>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <img src="<%= @movie.poster %>">
      </div>
      <div id="form-review">
        <h2><%= @movie.title %></h2>
        <%= f.input :rating, as: :radio_buttons, collection: ['1', '2', '3', '4', '5'], label: 'Note', class: 'form-field' %>
        <%= f.input :review_content, as: :text, label: 'Commentaires, Avis ...', class: 'form-field' %>
        <%= f.submit "OK", class: 'btn-pinky' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
