<%= render 'shared/logged-navbar' %>

<div class="d-flex justify-content-between reco-show">
  <div>
    <img src="<%= @movie.poster %>" class="poster">
  </div>
  <div class="flex-grow reco-content" >
    <%= render 'shared/btn-modal', fontawesome: "fas fa-plus", title: "Ajouter au cercle" %>


    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
    <h2>Par <%= @movie.director %></h2>
    <p>Avec <%= @movie.actors %></p>
    <h3> Synopsis</h3>
    <p><%= @movie.plot %></p>
  </div>
</div>




<div class="hidden" id="modal-form">

  <%= simple_form_for [@circle, @movie, @recommendation] do |f| %>
  <img src="<%= @movie.poster %>">
  <h3><%= @movie.title %></h3>

  <%= f.input :review_content %>
  <%= f.input :rating %>
  <%= f.submit "OK" %>

  <% end %>

</div>
