<% movie = @recommendation.movie %>
<div class="personnalized-container d-flex justify-content-start mt-4 mb-1">
  <div class="d-flex align-items-start flex-grow breadcrumbs">
    <%= render_breadcrumbs %>
  </div>
</div>
<div class="d-flex justify-content-between reco-show">
  <div>
    <img src="<%= movie.poster %>" class="poster">
  </div>
  <div class="flex-grow reco-content" >
    <%= link_to circle_recommendation_watchlists_path(@circle, @recommendation), method: :post do  %>
      <div class="btn-underline-hover my-2 d-flex justify-content-start ">
        <div><i class="fas fa-eye"></i></div>
        <div class="btn-underline ml-2"><p>Ajouter à ma watchlist</p></div>
      </div>
    <% end %>

    <%= render 'shared/btn-modal', fontawesome: "fas fa-check", title: 'Marquer comme vu' %>
    <h1><%= movie.title %> (<%= movie.year %>)</h1>
    <h2>Par <%= movie.director %></h2>
    <p>Avec <%= movie.actors %></p>
    <h3> Synopsis</h3>
    <p><%= movie.plot %></p>
    <%= render 'shared/reco-card', reco: @recommendation %>
  </div>
</div>

<div class="reco-content">
  <h2>Autres commentaires</h2>
  <div class="d-flex justify-content-between">
    <div><p><%= @recommendation.reviews.count %> personnes ont vu et noté ce film</p></div>
    <div>
      <%# average_rating(@recommendation.reviews) %>
    </div>

  </div>
  <% @recommendation.reviews.each do |review| %>
    <%= render 'shared/review-card', review: review %>
  <% end %>
</div>


<div class="hidden overlay" id="modal-form">
  <div class="modale">
    <%= simple_form_for [@circle, @recommendation, @review] do |f| %>
      <%= f.input :rating, as: :radio_buttons, collection: ['1', '2', '3', '4', '5'], label: 'Note', class: 'form-field' %>
      <%= f.input :content, as: :text, label: 'Commentaires, Avis ...', class: 'form-field' %>
      <%= f.submit "OK", class: 'btn-pinky' %>
    <% end %>
  </div>
</div>
