<%= link_to circle_path(c)  do %>
  <div class="circle-card d-flex flex-column align-items-center mx-4 my-4 d-flex align-items-center">
    <div class="d-flex flex-column justify-content-between h-100 my-2">
      <div class="mt-5"><h2><%= c.title %></h2></div>
      <div class="d-flex justify-content-start align-items-end">
        <%= render 'shared/avatar-small', user: c.user %>
      <% if c.user == current_user %>
        <p class="ml-3"><em> Créé par vous </em></p>
      <% else %>
        <p class="ml-3"><em> Créé par <%= c.user.pseudo %></em></p>
      <% end %>
      </div>
      <div class="mb-5">
        <% memberships = Membership.where(circle_id: c.id) %>
        <% movies_count = 0 %>
        <% memberships.each do |m| %>
          <% m.recommendations.each do |reco| %>
            <% movies_count +=1 %>
          <% end %>
        <% end %>

        <p><i class="fas fa-users"></i> <%= memberships.length %> personnes</p>
        <p><i class="fas fa-film"></i> <%= movies_count %> films recommandés</p>
      </div>
    </div>
  </div>
<% end %>
