<%= link_to circle_recommendation_path(@circle, reco) do  %>

  <div class="movie-card m-4 d-flex flex-column align-items-center">
    <div class=" movie-img" style="background-image: url('<%= movie.poster %>');"></div>
    <div class="movie-card-content p-3">
      <h2><%= movie.title %></h2>
      <p><%= membership.user.pseudo %> added this film, with the rating of <%= reco.rating %></p>
    </div>
  </div>

<% end %>

