<%= link_to circle_recommendation_path(@circle, reco) do  %>

  <div class="movie-card m-4 d-flex flex-column">
    <div class=" movie-img" style="background-image: url('<%= movie.poster %>');"></div>
    <div class="movie-card-content p-3">
      <h2 class="m-auto"><%= movie.title %></h2>

      <div class="d-flex justify-content-start align-items-center" style="width: 100%;">
        <%= render 'shared/avatar-small', user: membership.user %>
        <div class="ml-3">
          <%= render 'shared/stars', reco: reco %>
          <p>ajouté par <%= membership.user.pseudo.capitalize %></p>
        </div>
      </div>
    </div>
  </div>

<% end %>

