<% @circle = reco.membership.circle %>
<%= link_to circle_recommendation_path(@circle, reco) do  %>
  <div class="d-flex justify-content-between rectangle-card my-3 mx-auto">
    <%= image_tag  movie.poster  %>
    <div class="flex-grow p-3">
      <div class="d-flex justify-content-between align-items-start rectangle-content ">
        <div class="flex-grow"><h3><%= movie.title %></h3></div>
        <div class="d-flex justify-content-between align-items-start">
           <div class="d-flex flex-column align-items-center">
             <p class="watchlist-content">Note de la recommandation</p>
             <%= render 'shared/stars', number: reco.rating %>
           </div>
           <div class="d-flex flex-column align-items-center">
             <p class="watchlist-content">Note du cercle</p>
             <%= render 'shared/stars', number: reco.rating %>
           </div>
        </div>
      </div>
      <div>
        <p class="text-left"><%= movie.plot %></p>
      </div>
    </div>
  </div>
<% end %>

